%html
  %body

%h2{:class=>"header"} Edit Participation #{@participation.group_id}
 
%div{:class=>"a-custom list2"}
  = form_tag participation_path(@participation), :method => :patch do 
   
    = label :participation, :group_id, 'group_id' 
    = text_field :participation, :group_id
  
    %div
    
    = label :participation, :user_id, 'user_id' 
    = text_field :participation, :user_id
   
    %div
   
    = submit_tag 'Save Changes' 
    = link_to 'Back to participation list', participations_path, class: "a-custom"
