%h1 All Participations
%h3= link_to 'Add new participation', new_participation_path
%table{:class=>"table table-dark"}
  #participations
  %thead
    %tr
      %th user_id
      %th group_id
  %tbody
    - @participations.each do |participation|
      %tr
        %td= participation.user_id
        %td= participation.group_id
        %td= link_to "Edit", edit_participation_path(participation)
        %td= link_to " Delete", participation_path(participation), method: :delete, data: {confirm:"are you sure?"}
