%html
  %body{:class=>"show-bg"}

%h2{:class=>"header"} Edit Group #{@group.group_name}
 
 
%div{:class=>"a-custom list2"}

  = form_tag group_path(@group), :method => :patch do 
   
    = label :group, :time, 'time' 
    = text_field :group, :time
    
    %div
  
    = label :group, :location, 'location' 
    = text_field :group, :location
    
    %div
  
    = label :group, :members, 'number of member' 
    = text_field :group, :members
    
    %div
  
    = label :group, :class_code, 'class code' 
    = text_field :group, :class_code
    
    %div
  
    = label :group, :group_name, 'name of the group' 
    = text_field :group, :group_name
    
    %div
    %button.btn.btn-lg.btn-primary{:type => "submit_tag", :value => "submit_tag"} Save Changes
    &nbsp&nbsp&nbsp       &emsp;
    %a.btn.btn-lg.btn-danger{:href => groups_path, :role => "button", :class=>"text-warning"} Exit
