%h2 Create New Group 

-#=form_for :group, groups_path do |f|
-#  if @group.errors.any?
-#    @group.errors.full_messages.each do |msg|
-#      =msg
-#    end
-#  end
  
= form_tag groups_path, :method => :post do 
 
  = label :group, :time, 'time' 
  = text_field :group, :time

  = label :group, :location, 'location' 
  = text_field :group, :location

  = label :group, :class_code, 'class code' 
  = text_field :group, :class_code

  = label :group, :group_name, 'name of the group' 
  = text_field :group, :group_name
 
<<<<<<< HEAD
  = submit_tag 'Save Changes' 
  = link_to 'Back to group list', groups_path
=======
  = submit_tag 'Save Changes' 
>>>>>>> 233
