%h2 Details about #{@group.group_name}


%ul#details
  %li
    Location:
    = @group.location
  %li
    Members:
    %table#participations
      %tbody
        - @participations.each do |participation|
          %tr
            %td= participation.user_id

= link_to 'Add members', new_participation_path(@group)
%h3= link_to "Delete", @group, method: :delete, data: {confirm:"are you sure?"}
//= submit_tag 'join group', add_group_path
