%html
  %body{:class=>"show-bg"}

%h2{:class=>"header"} Details about #{@group.group_name}

<<<<<<< HEAD

= link_to 'Add members', new_participation_path(@group)
%h3= link_to "Delete", @group, method: :delete, data: {confirm:"are you sure?"}
//= submit_tag 'join group', add_group_path
=======
%h4{:class=>"description"} 
  Location: 
  =@group.location
%h4{:class=>"description"}
  Members
  %table#participations{:class=>"list"}
    %tbody
      - @participations.each do |participation|
        %tr
          %td= participation.user_id

%h6= link_to 'Add Member', new_participation_path(@group), class: "show"
%h5= link_to "Delete Group", @group, method: :delete, data: {confirm:"are you sure?"}, class: "show-delete"
//= submit_tag 'join group', add_group_path
>>>>>>> 875f1c4a0db94f3ff4fc0f6725e03d7cf389529b
