<!DOCTYPE html><%= favicon_link_tag asset_path('icon.ico') %>
<html lang="en">
  <head>
    <title>Groupfinder</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
        position: relative; 
    }
    </style>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <br></br>
  <br></br>
  <% unless controller_name == "welcome" %>
    <%= render 'layouts/navbar' %>
  <% end %>
    
    <%= yield %>
  </body>
</html>
